## Result verification 

Go the the "Latest telemetry" section under your created device and confirm that the data was posted: 

**==> picture [505 x 174] intentionally omitted <==**
