## Verification 

If everything is configured in correctly, right after you enable the LoRa interface in RouterOS (" IoT>LoRa>Devices>Enable "): 

1636 

**==> picture [316 x 191] intentionally omitted <==**

You should see the gateway connection "Live data" update: 

**==> picture [505 x 265] intentionally omitted <==**

1637
